@model AddproductViewModel
@{
    ViewData["Title"] = "Manage your addproduct list";
}
<div class="panel panel-default addproduct-panel">
    <div class="panel-heading">@ViewData["Title"]</div>
    <table class="table table-hover">
        <thead>
            <tr>
                <td>&#x2714;</td>
                <td>Item</td>
                <td>Due</td>
            </tr>
        </thead>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                <input type="checkbox" class="done-checkbox">
            </td>
            <td>@item.Title</td>
            <td>@item.DueAt</td>
        </tr>
        }
    </table>
    <div class="panel-footer add-item-form">
        <!-- ADDPRODUCT: Add item form -->
    </div>
</div>

